.Bee {
  transition: 2s;
  position: absolute;
  display: block;
  background-image: url(../../images/bee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  left: 0;
  top: 0;
}
