.Moves {
  margin: 10px 0;
  width: 500px;
  display: flex;
  height: 50px;
  justify-content: space-between;
  &__move {
    box-sizing: border-box;
    display: flex;
    width: 9%;
    height: 100%;
    border-radius: 5px;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    &--active {
      background-color: lightblue;
    }
  }
}
